<!doctype html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lessons</title>
    <meta name="description" content="Exchange">
    <meta name="author" content="-">
    <meta property="og:title" content="Exchange">
    <link th:href="@{/cssandjs/main.css}" rel="stylesheet" />
</head>

</head>
<body>
<div class="MainBox">
    <div th:insert="menu :: copy"></div>

    <div class="Strategy">
        <h1>Скальпинг на Binance</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ledisut9H4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>
            <p>В данном видео вы узнаете:</p>
            <ol>
                <li>На основании чего трейдер--скальпер анализирует рынок.</li>
                <li>Составление плана сделки (точки входа)</li>
                <li>Разбор характера движения криптовалют, выводы о том какие точки входа нужно отрабатывать в первую очередь.</li>
                <li>Технический анализ на рынке крипто валют.</li>
            </ol>
            <p>Видео было создано в рамках бесплатного учебного курса по скальпингу от команды CScalp!</p>
        </div>
    </div>

    <div class="Strategy">
        <h1>Разъедание плотности в стакане, каскад заявок на закрытие позиции</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GDJJY-JSK3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>В этом видео Ахметов Константин ответит на очень популярные вопросы в скальпинге:</p>
        <ol>
            <li>Как правильно и каким видом заявок заходить при разъедании плотности?</li>
            <li>Как правильно выставлять каскад заявок при закрытии позиции и на что опираться?</li>
        </ol>
        <p>Видео было создано в рамках бесплатного учебного курса по скальпингу от команды CScalp!</p>
    </div>
    <div class="Strategy">
        <h1>Что такое "Ножи" и "ловля ножей"</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GDJJY-JSK3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>В этом видео Ахметов Константин ответит на очень популярные вопросы в скальпинге:</p>
        <ol>
            <li>Как правильно и каким видом заявок заходить при разъедании плотности?</li>
            <li>Как правильно выставлять каскад заявок при закрытии позиции и на что опираться?</li>
        </ol>
        <p>Данное видео было создано в рамках бесплатного учебного курса по скальпингу от команды CScalp!</p>
    </div>



</div>
<script src="balance.js"></script>
</body>
</html>