<!doctype html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Exchange</title>
  <meta name="description" content="Exchange">
  <meta name="author" content="-">
  <meta property="og:title" content="Exchange">
  <link th:href="@{/cssandjs/main.css}" rel="stylesheet" />
</head>

</head>
<body>
<div class="MainBox">
  <header class="headerDiv">
    <section class="sec"><a class="aSec" href="http://localhost:8080/firstPage">MAIN</a></section>
    <section class="sec"><a class="aSec" href="http://localhost:8080/mainPage">Traiding</a></section>
    <section class="sec"><a class="aSec" href="http://localhost:8080/balance">Balance</a></section>
    <section class="sec"><a class="aSec" href="http://localhost:8080/historyPage">History</a></section>
    <section class="sec"><a class="aSec" href="http://localhost:8080/Advices">Advices</a></section>
  </header>
  <div class="adds">
    <div class="adv">
      <a class="aADV" href="http://localhost:8080/Strategies">Strategies</a>
    </div>
    <div class="adv">
      <a class="aADV" href="http://localhost:8080/Concepts">Concepts</a>
    </div>
    <div class="adv">
      <a class="aADV" href="http://localhost:8080/Lessons">Lessons</a>
    </div>
  </div>

</div>
<script src="balance.js"></script>
</body>
</html>