<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/cssandjs/main.css}" rel="stylesheet" />
  <link th:href="@{/cssandjs/slider.css}" rel="stylesheet" />
  <title>Concepts</title>
</head>
<body>
<div class="MainBox">
  <div th:insert="menu :: copy"></div>

  <div class="Strategy">
    <h1>
      Альткоин
    </h1>
    <div class="textStrat">
      Альткоин — термин, описывающий все цифровые активы-альтернативы биткоина. Первые альткоины появились в 2011 году, ими стали монеты Litecoin и Namecoin.

    </div>
  </div>

  <div class="Strategy">
    <h1>
      Биткоин (Bitcoin)
    </h1>
    <div class="textStrat">
      Биткоин (Bitcoin) — первая криптовалюта. Она была выпущена в 2009 году человеком (или группой людей), скрывающимся под псевдонимом Сатоши Накамото. На данный момент биткоин является лидером крипторынка с долей в 59%.

    </div>
  </div>

  <div class="Strategy">
    <h1>
      Стейблкоин
    </h1>
    <div class="textStrat">
      Стейблкоин — токен с фиксированным курсом. Чаще всего котировки таких монет привязываются к доллару. Есть и другие варианты. Например, компания Tether выпустила стейблкоин XAUT, который стоит как одна тройская унция золота.
    </div>
  </div>

  <div class="Strategy">
    <h1>
      Токен
    </h1>
    <div class="textStrat">
      Токен — цифровой актив, который имеет отношение к конкретному проекту и выпущен на базе криптовалюты. Например, на основе блокчейн-платформы Ethereum можно создавать токены стандарта ERC20, среди которых известный стейблкоин USDT.
    </div>
  </div>

  <div class="Strategy">
    <h1>
      Кошелек
    </h1>
    <div class="textStrat">
      Кошелек — приложение для хранения криптовалюты. Оно позволяет пользователям получать доступ к цифровым активам, переводить их на другие адреса, использовать для оплаты и иных целей.
    </div>
  </div>

  <div class="Strategy">
    <h1>
      Смарт-контракт
    </h1>
    <div class="textStrat">
      Смарт-контракт — это определенный алгоритм, записанный в блокчейне. Смарт-контракты используются для проведения сложных операций, например, по выпуску токенов или обмену активами через децентрализованные приложения.
    </div>
  </div>
  <div class="Strategy">
    <h1>
      Форк
    </h1>
    <div class="textStrat">
      Форк — создание альтернативного блокчейна из уже существующего. При проведении софтфорка вносится модификация в прежнюю цепочку блоков. При хардфорке изначальная цепочка блоков разделяется на две независимые. В результате образуется новая криптовалюта. Например, в результате хардфорка Bitcoin получилась монета Bitcoin Cash. Позже она разделилась на два новых форка: Bitcoin Cash и Bitcoin SV.

    </div>
  </div>
  <div class="Strategy">
    <h1>
      Быки
    </h1>
    <div class="textStrat">
      Быки (противоположность медведям) — участники рынка, которые ожидают повешения цены актива и покупают его или держат с целью зафиксировать прибыль в будущем. Когда бык продает криптовалюту, он может перейти на сторону медведей, которые играют на понижение курса.
    </div>
  </div>
  <div class="Strategy">
    <h1>
      Волатильность
    </h1>
    <div class="textStrat">
      Волатильность — степень колебаний цены криптовалюты за определенный промежуток времени. Чем этот показатель больше, тем сильнее дорожала и дешевела монета, например, в течение месяца. Активы с большей волатильностью несут больше рисков, но в то же время дают больше возможностей заработать на сильных колебаниях курса.

    </div>
  </div>
  <div class="Strategy">
    <h1>
      Дамп
    </h1>
    <div class="textStrat">
      Дамп — умышленная продажа большого количества криптовалюты с целью обрушить ее курс.
    </div>
  </div>
  <div class="Strategy">
    <h1>
      Памп
    </h1>
    <div class="textStrat">
      Памп — умышленное завышение цены криптовалюты. Несколько пользователей с большим капиталом могут объединиться, чтобы «запампить» монету и затем продавать ее другим пользователям по завышенному курсу. Почти всегда памп оканчивается резким падением, а прибыль фиксируют преимущественно организаторы схемы.
    </div>
  </div>
  <div class="Strategy">
    <h1>
      Лонг или длинная позиция
    </h1>
    <div class="textStrat">
      Лонг или длинная позиция — сделка, при которой трейдер или инвестор покупает актив и ожидает роста его стоимости.
    </div>
  </div>
  <div class="Strategy">
    <h1>
      Шорт или короткая позиция
    </h1>
    <div class="textStrat">
      Шорт или короткая позиция — сделка, когда трейдер берет у биржи криптовалюту в долг под залог своих активов, сразу же продает ее и ждет снижения ее цены. Когда цена упадет, трейдер сможет купить то же количество монет, которое было одолжено, но дешевле, и вернуть долг бирже.s
    </div>
  </div>

</div>


</body>

<script src="slider.js"></script>
</html>