<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>History</title>
    <meta name="description" content="Exchange">
    <meta name="author" content="-">
    <meta property="og:title" content="Exchange">
    <link th:href="@{/cssandjs/main.css}" rel="stylesheet" />
</head>

<body>
<div class="MainBox">
    <div th:insert="menu :: copy"></div>

    <div class="tableBox">
        <table class="table"   border="8" cellpadding="5" style="border-collapse: collapse; border: 6px solid #FFAC3E;">
            <caption>Trades History</caption>
            <thead>
            <tr>
                <th> Time </th>
                <th> Symbol </th>
                <th> Operation </th>
                <th> Course </th>
                <th> Quantity </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${transactions.isEmpty()}">
                <td colspan="5"> No transactions available </td>
            </tr>
            <tr th:each="transaction : ${transactions}">
                <td><span th:text="${#temporals.format(transaction.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"> Time </span></td>
                <td><span th:text="${transaction.getCurrencyPair()}"> Symbol </span></td>
                <td><span th:text="${transaction.getOperation()}"> Operation </span></td>
                <td><span th:text="${ transaction.getCourse() + ' ' + transaction.getCurrencyPair().getQuoted().getTicker()}"> Course </span></td>
                <td><span th:text="${transaction.getQuantity() + ' ' + transaction.getCurrencyPair().getBase().getTicker()}"> Quantity </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>