<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="headerDiv" th:fragment="copy">
    <section class="sec"><a class="aSec" href="/main">MAIN</a></section>
    <section class="sec"><a class="aSec" href="/trading">Trading</a></section>
    <section class="sec"><a class="aSec" href="/balance">Balance</a></section>
    <section class="sec"><a class="aSec" href="/history">History</a></section>
    <section class="sec"><a class="aSec" href="/advices">Advices</a></section>
    <section class="sec"><a class="aSec" href="/auth/logout">Logout</a></section>
</header>
</body>
</html>